<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @park.park_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @park.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @park.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @park.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @park.zip_code %>
</p>

<p>
  <strong>Manager name:</strong>
  <%= @park.manager_name %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
